.center{
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 100px;
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;

}

body{
  background-color:
    #1fc8db;
  background-image: linear-gradient(141deg,
  #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}
